/* #00CF71 (vibrant green)
#1E293B (secure dark slate)
#F8FAFC (clean light gray)*/


h1 {
    font-size: 6rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

/*seccion1*/
.banner2 {
    background-image: url("../img/banner2.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: sticky;
    background-color: #1E293B ;
    background-blend-mode: multiply;
    height: 100vh;
}

/*seccion2*/

/*cards*/

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* para que se ajusten en pantallas pequeñas */
  text-align: center;
}

.cards-container .uil{
  color: #00CF71;
  font-size: 4rem;
}

.card1, .card2, .card3 {
  margin: 2rem;
  height: 15rem;
  width: 15rem;
  border: 0.1rem solid #1E293B;
  border-radius: 0.5rem;
}

.card1 h3, .card2 h3, .card3 h3 {
    font-size: 1rem;
}

.card1 h4, .card2 h4, .card3 h4 {
    font-size: 0.8rem;
    padding-top: 0.5rem;
}

.card1 p, .card2 p, .card3 p {
    font-size: 0.7rem;
    padding-top: 0.5rem;
}